* {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

h1 {
    font-family: Snell Roundhand;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
}

.page-header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.Article1 {
    grid-area: Article1;
}

.Article2{
    grid-area: Article2;
}

.Article3 {
    grid-area: Article3;
}

.Article4 {
    grid-area: Article4;
}

.Article5 {
    grid-area: Article5;
}

.page {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "Article1 Article2 Article3"
    "Article4 Article5 Article5";
}

h2 {
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.image {
    display:block;
    margin: 0 auto;
    max-height: 250px;
}

.article {
    padding: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.Article3, .Article5 {
    border-right: 3px solid black;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 3px solid black;
    margin: 0;
    padding: 30px;
}

.section {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
}

.section :hover {
    text-decoration: underline;
}

/* I am still not getting my navigation part right. they're not supposed to be joined together!*/



